{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/jsx-props-no-spreading": 0,
    "no-bitwise": [
      "error",
      {
        "allow": [
          "^"
        ]
      }
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "children"
        ]
      }
    ],
    "no-return-assign": [
      "off"
    ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "arrow": true,
        "return": true,
        "declaration": true
      }
    ]
  }
}
